/* Based on Minimal from BlackTie.co */

body {
  background-color: #f2f2f2;
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #2980b9;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #3095d7;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
    background: url(/assets/img/header-bg.jpg) no-repeat center top;
	margin-top: -10px;
	padding-top:20px;
	text-align:center;
	background-attachment: relative;
	background-position: top left;
	min-height: 900px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	margin-top: 150px;
	color: white;
	font-size: 70px;
	font-weight: 700;
}

#headerwrap .jumbotext {
	margin-top: 150px;
}

#headerwrap h3 {
	color: white;
	font-size: 30px;
	font-weight: light;
    font-style: oblique;
}

#headerwrap .logo {
	text-align: left;
	margin-left: 20px;
	margin-top: 15px;
}

#headerwrap img.logo {
    width: 350px;
}

#headerwrap .download a {
  color: #333;
  font-weight: bold;
  font-size: 135%;
  background: rgba(255,255,255,.8);
  border-radius: 5px;
  padding: 25px 40px;
  white-space: nowrap;
  width: 290px;
  margin: 0 auto;
  display: block;
}

#headerwrap .download a .text {
  text-decoration: underline;
}

#headerwrap .download a:hover {
  background: rgba(255,255,255,.8);
}

/* Wrappers */
.wrap {
	background: #eee;
	padding-top: 85px;
	padding-bottom: 85px;
	text-align: center
}

.wrap.first {
  padding-top: 25px;
}

.wrap.strip {
  background: #555;
}

.wrap.strip p {
  color: white;
  margin-bottom: 0;
  font-size: 175%;
  font-weight: bold;
  font-weight: 300;
  font-style: italic;
  padding: 0 15px;
  line-height: 135%;
}


.questions {
  margin-top: 70px;
}

.questions p {
  padding-bottom: 70px;
}

.wrap h4 {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;	
}

.wrap h3 {
	font-size: 28px;
	font-weight: 700;
	letter-spacing: 1px;	
}

.wrap i {
	font-size: 8px;
    padding: 3px;
}

.wrap p {
	font-size: 20px;
}

.wrap img {
	text-align: center;
}


/* MENU CONF*/

.menu {
	position: fixed;
	right: -200px;
	width: 260px;
	height: 100%;
	top: 0;
	z-index: 10;
	text-align: left;
}

.menu.menu-open {
	right: 0px;
}

.menu-wrap {
	position: absolute;
	top: 0;
	left: 60px;
	background: #1a1a1a;
	width: 200px;
	height: 100%;
}

.menu h1.logo a {
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.15em;
	line-height: 40px;
	text-transform: uppercase;
	color: #ffffff;
	margin-top: 20px;
}

.menu h1.logo a:hover {
	color: #f85c37;
}

.menu img.logo {
	margin: 20px 0;
	max-width: 160px;
}

.menu a {
	margin-left: 20px;
	color: #808080;
	display: block;
	font-size: 12px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.menu a:hover {
	color: #ffffff;
}

.menu a:active {
	color: #ffffff;
}

.menu a > i {
	float: left;
	display: inline-block;
	vertical-align: middle; 
	text-align: left;
	width: 25px;
	font-size: 14px;
	line-height: 40px;
	margin: 25px 2px;
}

.menu-close {
	cursor: pointer;
	display: block;
	position: absolute;
	font-size: 14px;
	color: #808080;
	width: 40px;
	height: 40px;
	line-height: 40px;
	top: 20px;
	right: 5px;
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

.menu-close:hover {
	color: #ffffff;
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

/* Push the body after clicking the menu button */
.body-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.body-push-toright {
	left: 200px;
}

.body-push-toleft {
	left: -200px;
}

.menu,
.body-push {
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		 -o-transition: all .3s ease;
			transition: all .3s ease;
}

#menuToggle {
	position: absolute;
	top: 20px;
	left: 0;
	z-index: 11;
	display: block;
	text-align: center;
	font-size: 14px;
	color: #ffffff;
	width: 40px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	background: rgba(0,0,0,0.25);
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

#menuToggle:hover {
	color: #ffffff;
	background: rgba(0,0,0,0.2);
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

.wrap .download a {
  color: rgba(255,255,255,.8);
  font-weight: bold;
  font-size: 115%;
  background: #444;
  border-radius: 5px;
  padding: 20px 30px;
  white-space: nowrap;
  width: 290px;
  margin: 0 auto;
  display: block;
}

.wrap .download a:hover {
  background: #333;
}

/* Responsive */
@media (max-width: 480px) {
  #headerwrap .jumbotext {
      margin-top: 125px;
  }

  #headerwrap img.logo {
    width: 250px;
  }

  .wrap .download a {
    width: 290px;
    font-size: 110%;
  }

}
